@import './variables';

:root {
  font-size: calc(0.45em + 1vw);

  @media (max-width: 768px) {
    font-size: calc(0.65em + 1vw);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background: $primary-color;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.thin {
  font-size: inherit;
  font-weight: 100;
  opacity: 0.7;
}

.red-button {
  display: block;
  padding: 0.75em 1.5em;
  width: max-content;
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: inherit;
  background-color: $accent-color;

  &:hover {
    opacity: 0.7;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.app {
  overflow-x: hidden;
}

.footer {
  &__social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5em;
  }

  &__social-network {
    padding: 0 1em;
    transition: all 0.3s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.preloader {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #171717;

  &__logo {
    position: absolute;
    width: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: swing 0.8s linear infinite;
  }
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(25deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
