.logo {
  width: 1.3em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}

.nav {
  &__items {
    display: flex;
  }

  &__item {
    margin-left: 3.125em;
    cursor: pointer;
  }
}

.hero {
  position: relative;
  min-height: 100vh;

  &__about {
    margin-top: 3em;
  }

  &__title {
    line-height: 1;
  }

  &__description {
    margin-top: 1.7em;
    opacity: 0.7;
  }

  &__button {
    margin-top: 3.4em;
  }

  &__big-shoes-torso {
    position: absolute;
    right: -8.5%;
    width: 45%;
    top: 75%;
    transform: translateY(-75%);
  }
}
