@import './variables';

.logo {
  width: 1.3em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.nav {
  &__items {
    display: flex;
  }

  &__item {
    position: relative;
    margin-left: 3.125em;
    cursor: pointer;
    @include underline(hover);
  }
}

.hero {
  min-height: 100vh;
  @media (max-width: 1024px) and (max-height: 1366px) {
    min-height: auto;
  }
  &__about {
    position: relative;
    padding: 2.5em 0;
  }

  &__title {
    line-height: 1;
  }

  &__description-wrapper {
    height: 1em;
    margin-top: 1.7em;
    opacity: 0.7;
    position: relative;
    width: max-content;
  }

  &__description-line {
    width: 1px;
    height: 100%;
    background: #fff;
    top: 0.15em;
    right: 0;
    position: absolute;
    animation-name: typeWriter;
    animation-iteration-count: infinite;
  }

  &__button {
    margin-top: 3.4em;
  }

  &__big-shoes-torso {
    position: absolute;
    right: -14%;
    width: 45%;
    top: 2.5em;

    @media (max-width: 1024px) and (max-height: 1366px) {
      bottom: 0em;
      top: auto;
    }
  }
}

@keyframes typeWriter {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
