$primary-color: #171717;
$accent-color: #ff3434;

@mixin underline($selector, $color: #fff) {
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 0;
    height: 1px;
    left: 0;
    transition: all 0.3s ease-out;
    background: $color;
  }

  &:#{$selector} {
    &::after {
      width: 100%;
    }
  }
}
